.container {
	max-width: 970px;
	padding: 0 15px;
	margin: 0 auto;
}

html,
body {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	min-width: 320px;
	height: auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1 0 auto;
}

html.lock,
body.lock {
	overflow: hidden;
}

.title-mini {
	font-family: 'Roboto';
	line-height: 30px;
	font-weight: 400;
}

.header {
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 3;
	-webkit-box-shadow: 0px 9px 20px -5px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 0px 9px 20px -5px rgba(34, 60, 80, 0.6);
	box-shadow: 0px 9px 20px -5px rgba(34, 60, 80, 0.6);
}

.header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #fff;
}

.header__body {
	height: 74px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header__menu-list {
	display: flex;
	gap: 20px;
	flex-direction: row;
	position: relative;
	z-index: 2;
}

.header__burger {
	display: none;
}
.header__logo-link {
	flex: 0 0 84px;
	position: relative;
	z-index: 3;

}

.header__logo {
	max-width: 100%;
	transition: all 0.3s ease;
}

.header__logo:active {
	transform: scale(0.95);
}

.header__menu-link {
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 22px;
	color: #222222;
	transition: all 0.2s ease;
	padding: 7px;
}

.menu-item {
	transition: all 0.2s ease-out;
}

.header__menu-link:hover {
	background-color: #e6e6e6;
	border-radius: 112px;
}

.header__menu-link:active {
	background-color: #c0bfbf;
}
.header__menu-item:active {
	transform: scale(0.95);
}
.top {
	overflow: hidden;
	background: url(..//images/background-top.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 74px;
}

.top__inner {
	display: flex;
	flex-wrap: nowrap;
	padding: 70px 0;
	gap: 68px;
	margin-right: 10px;
}

.top__box-info {
	width: 412px;
	color: white;
}

.top__box-title {
	font-family: 'Roboto';
	font-weight: 400;
	max-width: 412px;
	font-size: 38px;
	line-height: 44px;
}

.top__box-text {
	font-family: 'Roboto';
	max-width: 372px;
	font-size: 20px;
	line-height: 26px;
	padding-top: 21px;
	padding-bottom: 21px;
}

.top__box-button {
	margin: 0 14px 0 0;
	padding: 13px 23px 13px 23px;
	width: 110px;
	height: 48px;
	border-radius: 0.3rem;
	color: white;
	background-color: black;
	border: none;
	cursor: pointer;
	transition: all 0.1s ease-in;
	font-family: "Roboto Slab";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.top__box-button:hover {
	color: black;
	background-color: #dbdbdb;
}

.top__box-button:active {
	transition: background 0.2s ease-in-out;
	color: black;
	background-color: #c0bfbf;
	transform: scale(0.95);
}


.top__box-link {
	font-family: "Roboto Slab";
	font-size: 16px;
	line-height: 22px;
	padding: 13px 23px 13px 23px;
	width: 137px;
	height: 48px;
	font-size: 16px;
	line-height: 22px;
	transition: all 0.4s ease-out;
}

.top__box-link:hover {
	color: white;
}

.top__box-link:active {
	transition: 0.1s ease-in-out;
	color: #c0bfbf;
	transform: scale(0.95);
}

.top__img {
	max-width: 100%;
}

.press {
	background-color: #3E5C50;
	max-width: 100%;
}
.press__inner {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.press__title {
	font-family: 'Roboto';
	padding-top: 28px;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.31);
}

.press__list {
	padding-bottom: 38px;
	display: flex;
	align-items: center;
}

.press__item {
	padding: 0 23px;
}

.press__item-img {
	max-width: 100%;
	padding-top: 25px;
}

.sync {
	padding-bottom: 70px;
	padding-top: 70px;
}

.sync__inner {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.big-title {
	font-family: 'Roboto';
	font-size: 29px;
	line-height: 36px;
	font-weight: 400;
	color: #333333;
}

.sync__heading {
	font-family: 'Roboto';
	padding-top: 10px;
	font-size: 19px;
	line-height: 22px;
	padding-bottom: 54px;
}

.sync__box {
	display: flex;
	padding-top: 14px;
	gap: 20px;
}

.sync__box:nth-child(even) {
	flex-direction: row-reverse;
}

.site-images {
	height: 293px;
}

.sync__box-info {
	text-align: left;
	padding-top: 30px;
}

.sync__box-title {
	font-size: 22px;
	padding-top: 10px;
}

.sync__box-text {
	font-family: 'Roboto';
	padding-top: 17px;
	text-align: left;
	font-size: 16px;
	line-height: 22px;
}

.sync__box-icon {
	width: 30px;
	height: 30px;
}

.box-norm {
	display: flex;
	align-items: center;
	padding-top: 14px;
	gap: 20px;
	max-height: 223px;
}

.box-right {
	flex-direction: row-reverse;
}

.phone-images {
	max-width: 460px;
	max-height: 224px;
	padding-right: 10px;
}

.sync__other {
	padding-top: 70px;
	max-width: 100%;
}

.sync__menu-list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.sync__menu-item {
	text-align: left;
	max-width: 220px;
}

.sync__menu-title {
	padding-top: 10px;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
}

.sync__menu-text {
	width: 197px;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	text-align: left;
	padding-top: 17px;
}

.plans-pricing {
	background-color: #DDE7ED;
}

.blue-num {
	font-family: 'Roboto';
	color: #489FD9;
	font-weight: 400;
	font-size: 19px;
	line-height: 22px;
	padding-right: 3px;
}

.plans-pricing__cards {
	display: flex;
	flex-direction: row;
	gap: 20px;
	padding-top: 86px;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.plans-pricing__card {
	padding: 17px;
	border-radius: 5px;
	background-color: white;
	transition: all 0.2s ease;
}

.plans-pricing__card:hover {
	transform: scale(1.03);
}

.plans-pricing__card h3 {
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
}

.card__blue-section {
	padding-top: 15px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.card__text--big:last-child {
	padding-bottom: 13px;
	border-bottom: 1px solid #DBDBDB;
}

.card__option-section {
	padding-top: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
}

.card__button {
	background-color: black;
	color: white;
	width: 186px;
	height: 42px;
	margin-top: 4px;
	border-radius: 4.8px;
	transition: all 0.2s ease-in;
	border: none;
	cursor: pointer;
	font-family: 'Roboto Slab';
	font-size: 16px;
	line-height: 22px;
}

.card__button:hover {
	color: black;
	background-color: #dbdbdb;
}

.card__button:active {
	transition: background 0.1s ease-in-out;
	color: black;
	background-color: #c0bfbf;
	transform: scale(0.95);
}

.plans-pricing__inner {
	padding: 70px 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.plans-pricing__heading {
	font-family: 'Roboto';
	padding-top: 10px;
	font-size: 19px;
	line-height: 22px;
}

.plans-pricing__contact-us {
	padding-top: 20px;
	align-items: baseline;
	font-family: 'Roboto';
	font-style: normal;
	color: #333333;
}

.card__text--big {
	display: flex;
	align-items: baseline;
	line-height: 22px;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 22px;
}
.card__text--mini {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 18px;
	color: #2B2B2B;
}

.card__text--blocked {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #C7C5C5;
}

.blue-text {
	color: #489FD9;
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 22px;
	padding: 0 2px;
	transition: all 0.2s ease;
	text-decoration: none;
}

.blue-text:hover {
	color: #57b4f3;
}

.about-us__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 70px 0;
	text-align: center;
}

.about-us__inner-text {
	color: #333333;
	max-width: 47rem;
	text-align: center;
	padding-top: 45px;
	font-family: 'Roboto Slab';
	font-size: 25px;
	line-height: 31px;
}

.about-us__inner-name {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 22px;
	padding-top: 12px;
}

.about-us__inner-post {
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 22px;
}

.about-us__inner-img {
	padding-top: 22px;
}

.partners {
	background-color: #A1BFD4;
}

.partners__list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.partners__item-img {
	max-width: 100%;
}

.footer {
	background-color: #2B2C2E;
	color: #E6EAED;
}

.footer__inner {
	display: flex;
	gap: 148px;
	padding-top: 35px;
	padding-bottom: 35px;
}

.footer__social-media-hint {
	color: #939596;
	padding-top: 25px;
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 22px;
	transition: all 0.2s ease-out;
}

.footer__form {
	display: flex;
	justify-content: center;
	margin-top: 12px;
	width: 322px;
	height: 40px;
	margin-bottom: 10px;
}

.footer__form-input {
	text-align: start;
	border: none;
	padding: 0 3% 0;
	width: 60%;
	background-color: #E6EAED;
	padding-top: 1%;
}

.footer__form-input::placeholder {
	font-size: 16px;
	line-height: 27px;
	border: none;
}

.footer__form-input:focus:invalid {
	background-color: #FDD;
	outline: none;
}

.footer__form-error {
	padding: 0;
	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;
	display: none;
	box-sizing: border-box;
}

.footer__form-error.active {
	padding: 4.8px;
	display: block;
	width: 100%;
}

.footer__form-btn {
	background-color: #5F6166;
	border: none;
	color: #E6EAED;
	cursor: pointer;
	font-size: 15px;
	width: 40%;
}

.footer__form-btn:hover {
	background-color: #87898c;
}

.footer__form-btn:active {
	transition: background 0.2s ease-in-out;
	transform: scale(0.95);
	background-color: #c0bfbf;
}

.social-media__icons {
	display: flex;
	gap: 11px;
}

.footer__social-media-icons {
	margin-top: 12px;
}

.social-media__icon-img {
	transition: all 0.2s ease-out;
}

.social-media__icon-img:hover {
	transform: translateY(-4px);
}

.social-media__icon-img:active {
	transform: scale(0.9);
}

.footer__logo-img {
	max-width: 100%;
	transition: all 0.3s ease;
}

.footer__logo-img:active {
	transform: scale(0.95);
}

.footer__more-info {
	display: flex;
	gap: 59px;
}

.footer__more-info-box {
	display: flex;
	flex-direction: column;
}

.footer__more-info-title {
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	color: #E4E8EB;
	padding-bottom: 10px;
}

.footer__more-info-link {
	font-family: 'Roboto';
	font-size: 15px;
	line-height: 22px;
	color: #939596;
	transition: all 0.2s ease-out;
}

.footer__more-info-link:hover {
	color: white;
}
.footer__more-info-link:active {
	transform: scale(0.95);
}

.copyright {
	background-color: #1C1D1F;
	color: #939596;
}

.copyright__text {
	font-family: 'Roboto';
	font-size: 13px;
	line-height: 22px;
	padding: 19px 0;
}

.email-sent {
	position: fixed;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.email-sent.open {
	opacity: 1;
	visibility: visible;
}

.email-sent.open .email-sent__content {
	transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
	opacity: 1;
}

.email-sent__body {
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.email-sent__content {
	background-color: white;
	color: black;
	max-width: 800px;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.email-sent__close img{
	position: absolute;
	max-width: 25px;
	top: 5px;
	right: 5px;
	padding: 3px;
}
.email-sent__close img:hover {
	background-color: #bfc2cb;
	border-radius: 50%;
}


.email-sent__title {
	font-family: 'Roboto';
	text-align: center;
	font-size: 35px;
}