html {
    font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

.body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 50;
    -webkit-box-shadow: 0px 9px 20px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 9px 20px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 9px 20px -5px rgba(34, 60, 80, 0.6);
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
}

.header__body {
    height: 74px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__menu-list {
    display: flex;
    gap: 2.125rem;
    flex-direction: row;
    position: relative;
    z-index: 2;
}

.header__burger {
    display: none;
}
.header__logo-link {
    flex: 0 0 84px;
    position: relative;
    z-index: 3;
    
}

.header__logo {
    max-width: 100%;
    transition: all 0.3s ease;
}

.header__logo:hover {
    transform: translateY(-2px);
}

.header__logo:active {
    transform: scale(0.95);
}

.menu-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    transition: all 0.2s ease;
}

.menu-item {
    transition: all 0.2s ease-out;
}

.menu-link:hover {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 7rem;
    font-size: 16px;
}

.menu-link:active {
    background-color: #c0bfbf;
}
.header__menu-item:active {
   transform: scale(0.95); 
}

.menu-item:active {
    transform: scale(0.9);
}
.grow {
    background: url(..//images/background-grow.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 74px;
}

.grow__inner {
    display: flex;
    flex-wrap: nowrap;
    padding: 70px 0;
    gap: 68px;
}

.grow__info-article {
    width: 25.75rem;
    color: white;
}

.grow__info-title {
    max-width: 25.75rem;
    font-size: 38px;
    line-height: 44px;
}

.grow__info-text {
    max-width: 23.25rem;
    font-size: 20px;
    line-height: 26px;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
}

.grow__info-button {
    margin: 0 0.875rem 0 0.625rem;
    padding: 0.8125rem 1.4375rem 0.8125rem 1.4375rem;
    width: 110px;
    height: 48px;
    border-radius: 0.3rem;
    color: white;
    background-color: black;
    border: none;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.grow__info-button:hover {
    color: black;
    background-color: #dbdbdb;
    transform: scale(1.04);

}

.grow__info-button:active {
    transition: background 0.2s ease-in-out;
    color: black;
    background-color: #c0bfbf;
    transform: scale(0.95);
}


.grow__info-link {
    padding: 13px 23px 13px 23px;
    width: 137px;
    height: 48px;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.4s ease-out;
}

.grow__info-link:hover {
    font-size: 17px;
    color: white;
}

.grow__info-link:active {
    transition: 0.1s ease-in-out;
    color: #c0bfbf;
    font-size: 16px;
}

.grow__inner-img {
    max-width: 100%;
}

.press {
    background-color: #3E5C50;
    max-width: 100%;
}
.press__inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.press__title {
    padding-top: 1.75rem;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.31);
}

.press-links {
    padding-bottom: 38px;
}

.press__link {
    padding: 0 23px;
}

.press__link-img {
    max-width: 100%;
    padding-top: 25px;
    transition: all 0.2s ease-out;
}

.press__link-img:hover {
    transform: translateY(-4px);
}

.press__link-img:active {
    transform: scale(0.9);
}
.sync {
    padding-bottom: 4.375rem;
    padding-top: 4.375rem;
}

.sync__inner {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.big-title {
    font-size: 29px;
    line-height: 36px;
    font-weight: 400;
    color: #333333;
}

.sync__heading {
    padding-top: 0.625rem;
    font-size: 19px;
    line-height: 22px;
}

.sync__webApp {
    display: flex;
    padding-top: 4.25rem;
    gap: 20px;
}

.sync__webApp-images {
    height: 18.3125rem;
}

.sync__webApp-info {
    text-align: left;
    padding-top: 30px;
}

.sync__webApp-title {
    padding-top: 10px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}

.sync__WebApp-text {
    padding-top: 1.0625rem;
    text-align: left;
    font-size: 16px;
    line-height: 22px;
}

.sync__icon {
    width: 30px;
    height: 30px;
}

.sync__mobileApp {
    display: flex;
    align-items: center;
    padding-top: 14px;
    gap: 20px;
}

.sync__mobileApp-images {
    max-width: 28.75rem;
    max-height: 224px;
    padding-right: 10px;
}

.sync__mobileApp-title {
    padding-top: 10px;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}

.sync__mobileApp-text {
    padding-top: 17px;
    font-size: 16px;
    line-height: 22px;
}

.sync__mobileApp-info {
    text-align: left;
}
.sync__other {
    padding-top: 70px;
    max-width: 100%;
}

.sync__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.sync__menu-item {
    text-align: left;
    max-width: 220px;
}

.sync__other-title {
    padding-top: 10px;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: left;
}

.sync__other-text {
    width: 12.3125rem;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    padding-top: 17px;
}

.plansPricing {
    background-color: #DDE7ED;    
}

.blue-num {
    color: #489FD9;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    padding-right: 2px;
}

.plansPricing__cards {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    padding-top: 4.2938rem;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.plansPricing__card {
    padding: 1.0625rem;
    border-radius: 0.3rem;
    max-width: 13.75rem;
    height: 23rem;
    background-color: white;
    transition: all 0.2s ease;
}

.plansPricing__card:hover {
    transform: scale(1.03);
}

.plansPricing__card h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

.card__blueSection {
    padding-top: 15px;
    gap: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.card__optionSection {
    padding-top: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
}

.blocked {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #C7C5C5;
}

.cards__button {
    background-color: black;
    color: white;
    width: 11.625rem;
    height: 2.625rem;
    border-radius: 0.3rem;
    transition: all 0.2s ease-in;
    border: none;
    cursor: pointer;
}

.cards__button:hover {
    color: black;
    background-color: #dbdbdb;
    transform: scale(1.04);
}

.cards__button:active {
    transition: background 0.1s ease-in-out;
    color: black;
    background-color: #c0bfbf;
    transform: scale(0.95);
}

.plansPricing__inner {
    padding: 70px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plansPricing__heading {
    padding-top: 0.625rem;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
}

.plansPricing__contactUs {
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    padding-top: 1.25rem;
    align-items: baseline;
}

.card__teamMember {
    padding-bottom: 13px;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 2px;
}

.card__blueLine {
    display: flex;
    align-items: baseline;
}


.card__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.blue-text {
    color: #489FD9;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    padding: 0 2px;
    transition: all 0.2s ease;
    text-decoration: none;
}

.blue-text:hover {
    color: #57b4f3;
    font-size: 16px;
}

.sayAboutUs__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 0;
    text-align: center;
}

.sayAboutUs__inner-text {
    color: #333333;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    max-width: 47rem;
    text-align: center;
    padding-top: 45px;
}

.sayAboutUs__inner-desName {
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    padding-top: 12px;
}

.sayAboutUs__inner-img {
    padding-top: 22px;
}

.partners {
    background-color: #A1BFD4;
}

.partners__links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__link-img {
    max-width: 100%;
    padding-top: 25px;
    transition: all 0.2s ease-out;
}

.partners__link-img:hover {
    transform: translateY(-4px);
}

.partners__link-img:active {
    transform: scale(0.9);
}
.footer {
    background-color: #2B2C2E;
    color: #E6EAED;
}

.footer__inner {
    display: flex;
    gap: 9.25rem;
    padding-top: 35px;
    padding-bottom: 35px;
}

.socialMedia-text {
    color: #939596;
    padding-top: 25px;
    transition: all 0.2s ease-out;
}

.socialMedia-text:hover {
    color: white;
}

.socialMedia-text:active {
    transform: scale(0.95);
}

.footer__socialMedia-img {
    padding-top: 12px;
}

.socialMedia-icon {
    display: flex;
    gap: 0.6875rem;
}

.footer__icon-img {
    transition: all 0.2s ease-out;
}

.footer__icon-img:hover {
    transform: translateY(-4px);
}

.footer__icon-img:active {
    transform: scale(0.9);
}

.footer__logo-img {
    max-width: 100%;
    transition: all 0.3s ease;
}

.footer__logo-img:hover {
    transform: translateY(-2px);
}

.footer__logo-img:active {
    transform: scale(0.95);
}

.footer__moreInfo {
    display: flex;
    gap: 59px;
}

.footer__moreInfo-point {
    display: flex;
    flex-direction: column;
}

.footer__moreInfo-h3 {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #E4E8EB;
    padding-bottom: 10px;
}

.footer__moreInfo-link {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #939596;
    transition: all 0.2s ease-out;
}

.footer__moreInfo-link:hover {
    color: white;
}
.footer__moreInfo-link:active {
    transform: scale(0.95);
}

.copyright {
    background-color: #1C1D1F;
    color: #939596;
}

.copyright__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    padding: 1.1875rem 0;
}
